.container{
    height: 300px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    background-color: #333;
    padding: 10px;
    align-items: center;
}

li{
    border: 1 px solid black;
    background-color: yellow;
    text-align: center;
}

a{
    text-decoration: none;
    color: black;
}