*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: salmon;
}

main{
    justify-content: center;
    align-items: center;
    display: flex;
    background-color: lightgreen;
    height: 100vh;
    width: 100vw;
}

section{
    background-color: lightseagreen;
    height: 200px;
    width: 200px;
}



